@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Tulpen+One&display=swap');

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

li{
    padding-right: 50px;
    width: 175px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first-container {
    flex-shrink: 1;
    background-color: #1F2937;
    margin: 0;
    padding: 0 150px
    0 100px;
    height: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    display: flex;
    padding-top: 0%;
}

.header-name{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    flex: 1;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

.under-head {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}

.uh-Text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
}

.uh-mainText {
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 0;
}

.uh-secondaryText {
    margin-top: 0;
    color: #e5e7eb;
    font-size: 18px;
}

.uh-img {
    width: 300px;
    height: 300px;
    border-radius: 80%;
}

.header-btn {
    height: 35px;
    width: 120px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    font-size: 17px;
}

.second-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 500px;
}

.second-title {
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
}

.second-list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    /* width: 175px; */
}

.list-image {
    width: 175px;
    height: 175px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.third-container {
    height: 280px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign {
    /* height: 350px; */
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.inspire {
    font-family: 'Tulpen One', cursive;
    font-size: 36px;
    width: 500px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
}
